.language{
    color: rgb(184, 184, 184);
}
.language:hover{
    color: rgb(223, 223, 223);
}

li{
    list-style: none;
}

.navbar{
    width: 100%;
}
.logo-div{
    margin-right: 35%;
}
.carousel-indicators{
    position: relative;
    width: 53%;
    text-align: center;
}
body{
    font-family: 'Cairo', sans-serif;;
}
.websites{
    font-size: 26px;
    padding-top: 95%
}
.pages{
    font-size: 26px;

}
.works .header{
    text-align: right;
}
