body{
    background-image: url("images/background.png");
    height: 2000px;
    font-family: 'Montserrat', sans-serif;

}

.navv{
    width: 100%;
    background: #161415;
    overflow: hidden;
    border-bottom: 1px solid rgb(104, 104, 104);
    position: fixed;
    top: 0;
    z-index: 555;
}

.navbar{
    float: right;
    font-size: 20px;
    color: #fff;
    width: 70%;
    padding-right: 10px;
    padding-top: 0px;
}

a{
    cursor: pointer;
}
.current{
    border-bottom: solid 1px #fff;
    padding-bottom: 5px;
    color: #fff;
}
.navbar-brand{
    width: 65px;
    height: 65px;
}
.navbar-brand>img{
    width: 100%;
}
.nav-item{
    margin: 0 10px;
}
.works{
    margin-top: 100px;
}
.works h1{
    color: #fff;
    font-size: 60px;
}
.works .header{
    text-align: left;
    margin-top: 120px;
}
.carousel-indicators{
    position: relative;
    z-index: 1;
    margin-top: 10px;
}
.services{
    margin-top: 30px;
}

.services .header h1{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    width: 295px;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    text-align: center;
    margin-bottom: 10px;
}

.ser-div{
    margin: 30px 20px;
    cursor: pointer;
    position: relative;
}
.ser-back:hover {
    opacity: 0;
    transition: 0.2s;
}
.ser-back{
    opacity: 1;
    background: rgb(0, 0, 0,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 105%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.websites{
    padding-top: 90%;
}
.ser-div >img{
    width: 100%;
    z-index: 1;
}
.ser-div:hover{
    transform: scale(1.1);
}

.contact-form{
    background: #000;
    color: #fff;
    margin-top: 30px;
}
.contact-form h2{
    text-align: center;
    padding-top: 20px;
}
.contact-form label{
    margin-top: 15px;
    color: rgb(172, 172, 172);
    width: 35%;
    margin-left: 40px;
    font-size: 22px;
}
.contact-form textarea{
    margin-top: 10px;
    background: #161415;
    border: none;
    margin-left: 20px;
    color: rgb(172, 172, 172);
    padding: 10px;
    width: 46%;
}
.contact-form .button{
    margin:  0 auto;
    width: 90.5%;
    text-align: center;
    padding-bottom: 20px;
}
.form button{
    text-align: center;
    width: 100%;
    height: 50px;
    background: #161415;
    border: none;
    font-size: 25px;
    color: rgb(172, 172, 172);
}
.form input{
    height: 40px;
    background: #161415;
    color: rgb(172, 172, 172);
    border: 2px #000 solid;
    padding: 5px 10px;
    width: 46%;
    margin-left: 20px;
    
}

.footer{
    text-align: center;
}
.footer .social-media{
    margin: 20px 0;
}
.footer .social-media >a{
    margin: 0 5px;
}
.footer .social-media >a > img{
    width: 40px;
}
.contact-form-mobile{
    display: none;
}
.logo{
    text-align: center;
}
.logo >img{
    margin: 0 auto;
}
.contact-form-mobile{
    background: #000;
    overflow: hidden;
}
@media only screen and (max-width: 1200px) {
    .nav-link{
        font-size: 18px;
    }
    .query{
        padding-top: 85%;
    }
}
@media only screen and (max-width: 992px) {
    .works .header{
        text-align: center;
        margin-top: 0px;
    }
    
  }
  @media only screen and (max-width: 770px) {
    .contact-form-mobile{
        display: initial;
    }
    .contact-form{
        display: none;
    }
    .works h1{
        color: #fff;
        font-weight: bold;
        font-size: 40px;
    }
    .contact-form-mobile{
        width: 100%;
        background: #000;
        color: #fff;
        margin-top: 30px;
        text-align: center;
    }
    .contact-form-mobile input{
        height: 40px;
        background: #161415;
        color: rgb(172, 172, 172);
        border: 2px #000 solid;
        padding: 5px 10px;
        width: 70%;
        
    }
    .contact-form-mobile button{
        text-align: center;
        width: 40%;
        height: 50px;
        background: #161415;
        border: none;
        font-size: 20px;
        color: rgb(172, 172, 172);
        margin: 0 auto;
    }
    .contact-form-mobile .button{
        margin-top: 10px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;

    }
    .contact-form-mobile h2{
        text-align: center;
        padding-top: 20px;
    }
    .contact-form-mobile textarea{
        margin-top: 10px;
        background: #161415;
        border: none;
        color: rgb(172, 172, 172);
        padding: 10px;
        width: 70%;
    }
    .contact-form label{
        color: rgb(172, 172, 172);
        width: 35%;
        font-size: 22px;
    }
    
  @media only screen and (max-width: 400px) {
    .navbar-toggler{
        margin-right: 40px;
    }
  }

  }